body {
  background-color: #dfcea0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7ebc3;
  color: #786010;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 8px;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.header-right button {
  margin-left: 15px;
  border: 0;
  background: transparent;
  font-weight: 800;
}

.container-list-item {
  border: 1px solid #decea0;
}

.radio-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 12px;
}

.radio-control input {
  margin-left: 8px;
  margin-right: 8px;
}

.container-list-item {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 12px;
}

.container-list-item input {
  margin-left: 8px;
  margin-right: 8px;
}

.form-body {
  background-color: white;
  height: 370px;
  margin-top: 30px;
}

.footer-row {
  background-color: #f5edd6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.footer-row button {
  border: none;
  background-color: #955f06;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
